*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url("https://st.depositphotos.com/1278966/1380/i/950/depositphotos_13805186-stock-photo-mathematic-school-background-illustration.jpg") center center/cover no-repeat;
    height: 600px;
}
.title{
    text-align: center;
    margin: 50px 0;
}
.container{
    margin: 0 auto;
    padding: 0 20px;
    width: 200px;

}
.container div{
    float: left;
    margin-bottom: 20px;
}

main h2{
    text-align: center;
    margin: 30px;
}
form {
    font-weight: 700;
}

form .container .btn{
    height: 35px;
}
form .container button{
    height: 35px;
    width: 100px;
}
form .container .btn button{
    background-color: rgb(167, 212, 42);
}

.container {
    padding: 0 20px;
}
.container label, p, input{
    font-weight: 300;
    font-size: small;
}
.container .result{
    display: inline-block;
    height: 20px;
    width: 170px;
    border: 0.5px solid;
    border-color: rgb(118, 118, 118);
    background-color: white;
}
.container .radio label{
    display: inline-block;
    margin-right: 5px;
}